<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="info.mschmitt.githubapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".app.FragmentApplication"
        android:allowBackup="true"
        android:icon="@drawable/github10_48dp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
    </application>
</manifest>
